<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <style><% include ../../css/partials/global.css %></style>
    <style><% include ../../css/partials/header.css %></style>
</head>
<body>

